{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "semi": "error",
    "no-unused-vars": 1
  }
}