.navbar-nav li a {
    line-height: 90px;
    padding: 0 8px;
}
ul.navbar-nav.navbar-right {
    margin-right: 5px;
}
.navbar-brand {
    margin-top: 1px;
    line-height: 90px;
    height: 90px;
    padding: 0 8px;
    font-family: 'Helvetica Neue Bold',Helvetica;
    color: #777;
    font-style: normal;
    text-transform: uppercase;
}
.navbar-brand img {
    margin-top: 22px;
}
.navbar-toggle {
    margin-top: 28px;
    margin-right: 25px;
}

.container-fluid {
    padding: 0 !important;
}
/* MAIN */

.header-bg {
    background-image: url('../assets/top_novidades_blue.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 150px;
    padding-top: 150px;
}
.header-text h1 {
    font-size: 35px;
    font-weight: 500;
    font-family: "Proxima Nova";
    font-style: normal;
    letter-spacing: 0px;
    line-height: 35px;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
}
#search-form {
    padding: 20px 0;
}

/* POST CONTENT */
.post {
    text-align: center;
    /* height: 420px; */
    font-family: 'Helvetica Neue Medium';
    font-size: 14px;
}
.post-image {
    height: 195px;
    display: block;
    overflow: hidden;
    border-bottom: 5px solid #16c5fe;
}

.post a img {
    vertical-align: middle;
    height: 195px;
    width: 100%;
}
.meta-thumb {
    float: left;
    color: #fff;
    font-size: 18px;
    margin-top: -54px;
    position: absolute;
    padding: 12px 30px;
    background-color: #62d8fe;
}
.post-content {
    margin-bottom: 0px;
    background-color: #ffffff;
    min-height: 0px;
    text-align: left;
    border-color: #e8e8e8;
    border-width: 1px;
    border-style: none solid solid solid;
}
.post-title {
    font-size: 24px!important;
    margin: 10!important;
    
}
.post-more {
    font-size: 12px;
    font-family: 'Helvetica Neue Medium';
}
.post-content p {
}