body {
    padding-top: 90px;
    font-size: 14px;
    background-color: #f9f9f9;
}
.container-fluid.main {
    padding: 0 !important;    
}
.navbar {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    /* position: fixed; */
    top: 0;
    border-width: 0 0 1px 0;
    border-style: solid;
}

.navbar-nav li a {
    line-height: 90px;
    padding: 0 8px;
    height: 90px;
    font-family: 'Helvetica Neue Bold';
    color: #777!important;
    display: block;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar-nav li a:hover {
    text-decoration: underline;
    color: #979797
}
.navbar-right {
    margin-right: 5px!important;
}
.navbar-brand {
    margin-top: 1px;
    line-height: 90px;
    height: 90px;
    padding: 0 8px;
    font-family: 'Helvetica Neue Bold',Helvetica;
    color: #777;
    font-style: normal;
    text-transform: uppercase;
}
.navbar-brand img {
    margin-top: 22px;
}
.navbar-toggle {
    margin-top: 28px;
    margin-right: 25px;
}
.navbar-inverse .navbar-toggle {
    border-color: #ddd;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-inverse .navbar-collapse {
    border-color: #e7e7e7;
}

@media screen and (max-width: 768px) {
    .navbar-nav li a {
        text-align: center;
        line-height: 50px;
        height: 50px;
    }
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #ddd;
}
/* MAIN */

.header-bg {
    background-image: url('../assets/top_novidades_blue.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 150px;
    padding-top: 150px;
}
.header-text h1 {
    font-size: 35px;
    font-weight: 500;
    font-family: "Proxima Nova";
    font-style: normal;
    letter-spacing: 0px;
    line-height: 35px;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    color: #fff;
}
#search-form {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* POST CONTENT */
.posts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.post {
    text-align: center;
    /* height: 420px; */
    font-family: 'Helvetica Neue Medium';
    font-size: 14px;
    margin-bottom: 10px;
}
.post-image {
    height: 195px;
    display: block;
    overflow: hidden;
    border-bottom: 5px solid #16c5fe;
}
.post-link:hover {
    text-decoration: none;
}
.post-link:hover .post-content {
    color: #16C5FE!important;
}
.post a img {
    vertical-align: middle;
    /* height: 195px; */
    min-height: 195px;
    width: 100%;
    overflow: hidden;
}
.meta-thumb {
    float: left;
    color: #fff;
    font-size: 18px;
    margin-top: -54px;
    position: absolute;
    padding: 12px 30px;
    background-color: #62d8fe;
}
.post-content {
    text-align: left;
    /* border-color: #e8e8e8; */
    /* border-width: 1px; */
    /* border-style: none solid solid solid; */
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    color: #8c8c8c;
}
.post-title {
    font-size: 24px!important;
    margin: 10!important;
    
}
.post-more {
    font-size: 12px;
    font-family: 'Helvetica Neue Medium';
}
.post-content p {
    margin-bottom: 20px;
}
/* LAST POSTS */

.last-content {
    border-bottom: 1px solid black;
}
.last-content-title h2 {
    color: #68adce;
    font-size: 35px;
    font-weight: 500;
    font-family: "Helvetica Neue Light";
    padding: 10px 0 20px 10px;
}
.last-posts {
    display: flex;
    flex-wrap: wrap;
}
.last-post {
    margin-bottom: 20px;

}
.last-post-link {
    display: flex;
}
.last-post-link:hover {
    text-decoration: none;
}
.last-post-link:hover .last-post-content {
    color: #16C5FE!important;
}
.last-post-image {
    max-width: 35%;
    min-width: 25%;
    border-bottom: 5px solid #16c5fe;    
    height: 100%;
}
.last-post-image img {
    width: 100%;
    /* max-width: -webkit-fill-available; */
    height: auto;
    border-radius: 5px 5px 0 0;
}
.last-post-content {
    padding: 0 10px;
    font-family: 'Helvetica Neue Medium';
    color: #8c8c8c;
}
.last-post-content h5 {
    margin-top: 0;
    font-size: 24px!important;
    text-align: left!important;
}
.last-post-content .last-post-text {
    font-size: 14px!important;
}
/* PAGE NAVIGATION */
.page-navigation {
    text-align: center;
    font-family: 'Open Sans';
    margin-top: 30px;
}
.page-navigation li a {
    background-color: #ffffff;
    color: #979797;
    border-color: #e8e8e8;
    border-width: 1px;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 1;
    display: block;
}
.page-navigation li a.active {
    background-color: #5890e5;
    color: #ffffff;
    border-color: #5890e5;
    border-width: 1px;
}